
<div class="modal-content">
    <div class="product__modal-wrapper p-relative">
        <div class="product__modal-close p-absolute">
            <button (click)="cancel()">
                <i class="fal fa-times"></i>
            </button>
        </div>
        <div class="basic-login">
            <h3 class="text-center mb-60">Enter Email</h3>
            <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
                <div class="mb-20">
                    <label for="email">Email <span>**</span></label>
                    <input id="email" type="text" placeholder="Email address..." formControlName="email" />
                    <span *ngIf="(email?.hasError('required') && email?.touched) || (email?.hasError('email') && email?.dirty) || (formSubmitted && !email?.value)" class="text-danger">
                        Email is required and must be a valid email address
                     </span>
                </div>
                <button class="os-btn w-100">Submit</button>
            </form>
        </div>
    </div>
</div>