.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center
}

@import "/src/assets/scss/variables";

.reset-btn {
    font-size: 14px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: $black;
    color: $white;
    font-weight: 500;
    margin-right: 10px;
    border-radius: 5px;
    @media #{$md}{
      display: block;
      margin-bottom: 15px;
    }
    &:hover{
        background: $theme-color;
        color: $white;
    }
}

h3{
    margin-bottom: 0px;
}

.info-margins {
    margin-bottom: -4px;
    margin-left: 5px;
}