<!-- header start -->
<app-header-one [transparent]="true" [white_bg]="true"></app-header-one>
<!-- header end -->

<main>

  <!-- breadcrumb start -->
  <app-breadcrumb-one title="New Password" subtitle="New Password"></app-breadcrumb-one>
  <!-- breadcrumb end -->

  <!-- Password Area start -->
  <section class="login-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="basic-login">
                    <h3 class="text-center mb-60">New Password</h3>
                    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
                        <div class="mb-20">
                          <label for="code">Confirmation Code <span>**</span></label>
                          <input id="code" type="text" placeholder="Code" formControlName="code" />
                          <span *ngIf="(code?.hasError('required') && code?.touched) || (code?.hasError('email') && code?.dirty) || (formSubmitted && !code?.value)" class="text-danger">
                            Confirmation code is required
                         </span>
                        </div>
                        
                        <div class="mb-20">
                          <label for="email">Email Address <span>**</span></label>
                          <input id="email" type="text" placeholder="Email address..." formControlName="email" />
                          <span *ngIf="(email?.hasError('required') && email?.touched) || (email?.hasError('email') && email?.dirty) || (formSubmitted && !email?.value)" class="text-danger">
                            Email is required and must be a valid email address
                         </span>
                        </div>

                        <div class="mb-20">
                          <label for="pass">Password <span>**</span></label>
                          <input id="pass" type="password" placeholder="Enter password..." formControlName="password" />
                          <span *ngIf=" (password?.hasError('required') && password?.touched) || (password?.errors?.['minlength'] && password?.dirty) || (formSubmitted && !password?.value)" class="text-danger">
                            Password is required and must be a 6 character
                          </span>
                        </div>
                        
                        <div class="mb-20">
                          <label for="confirmPass">Confirm Password <span>**</span></label>
                          <input id="confirmPass" type="password" placeholder="Confirm password" formControlName="confirmPassword" />
                          <span *ngIf="(confirmPassword?.hasError('required') && confirmPassword?.touched) || (formSubmitted && !confirmPassword?.value) || newPasswordForm.hasError('passwordMismatch')" class="text-danger">
                            Passsword and Confirm Password didn't match
                          </span>
                        </div>
                        <button class="os-btn w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- Password Area End-->
</main>