<div class="mini-cart">
  <div *ngIf="cartService.getCartItems.length === 0">
    <h5>Your cart is empty</h5>
  </div>
  <div *ngIf="cartService.getCartItems.length > 0" class="mini-cart-inner">
    <ul [ngClass]="['mini-cart-list', cartService.getCartItems.length === 1 ? 'slider-height_1' :  cartService.getCartItems.length === 2 ? 'slider-height_2' : 'slider-height']">
      <li *ngFor="let item of cartService.getCartItems">
        <div class="cart-img f-left">
          <a [routerLink]="['/shop/shop-details', item?.product?.id]">
            <img [src]="item?.product?.imageUrl" alt="cart-img" />
          </a>
        </div>
        <div class="cart-content f-left text-left">
          <h5>
            <a [routerLink]="['/shop/shop-details', item?.product?.id]">{{item?.product?.name}}</a>
          </h5>
          <div class="cart-price">
            <span class="ammount">{{item?.quantity}} <i class="fal fa-times"></i></span>
            <span class="price">$ {{item?.product?.price}}</span>
          </div>
        </div>
        <div class="del-icon f-right mt-30 pr-10">
          <a (click)="cartService.removeCartProduct(item)" class="cursor-pointer">
            <i class="fal fa-times"></i>
          </a>
        </div>
      </li>
    </ul>
    <div class="total-price mb-30">
      <div class="d-flex justify-content-between mb-5">
        <span>Total Quantity:</span>
        <span>x{{(cartService.totalPriceQuantity().quantity)}}</span>
      </div>
      <div class="d-flex justify-content-between">
        <span>Subtotal:</span>
        <span>${{(cartService.totalPriceQuantity().total).toFixed(2)}}</span>
      </div>
    </div>
    <div class="checkout-link">
      <a routerLink="/shop/cart" class="os-btn">view Cart</a>
      <a class="os-btn os-btn-black" routerLink="/pages/checkout">Checkout</a>
    </div>
  </div>
</div>
