/* You can add global styles to this file, and also import other style files */
@import "swiper/css/bundle";
@import './assets/css/fontAwesome5Pro.css';
@import './assets/css/ionicons.min.css';
@import './assets/css/animate.min.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import './assets/scss/main.scss';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #bc8246;
}

.mat-step-icon-selected, .mat-step-icon-state-edit, .mat-step-icon-state-done {
  background-color: #bc8246 !important;
}

mat-icon{
  color: #323232 !important;
}

// Tooltip
.custom-tooltip {
  width: 120px;
  background-color: #201f1f;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1070;
  white-space: nowrap;
}

.custom-tooltip button {
  font-size: 12px;
}


.custom-tooltip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #201f1f transparent;
}

a[target="_blank"] {
  z-index: 1;
  height: 0px;
  display: inline-table;
}